.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 350px 350px 350px 350px 350px 350px 350px;
	grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
	grid-gap: 1px;
	background-color: #2196F3;
	padding: 1px;
	/* justify-content: space-around; */
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 2px 2px;
	font-size: 18px
}


/* .thumbnail:hover {
    position: relative;
    top: -25px;
    left: -35px;
    width: 35px;
    height: 35px;
    display: block;
    z-index: 999;
}  */

.grid-header { 
	grid-area: header; 
}
/* .grid-menu { grid-area: menu; } */
.grid-main { 
	grid-area: main; 
}
/* .grid-right { grid-area: right; } */
.grid-footer { 
	grid-area: footer; 
}

/** Scafolding **/
.page {
	display: grid;
	grid-template-rows: auto 30px;
	grid-template-columns: 300px 1fr;
	height: 100vh;
}

/** Panel Module **/
.panel {
	display: grid;
	grid-template-rows: 100% auto;
	height: calc("100vh -" 100%);
}
.panel-body {
	overflow: auto;
}

/** Footer **/
.footer {
	display: grid;
    grid-template-columns: 1fr auto;
	grid-column-start: 1;
	grid-column-end:   3;
}